@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    color: rgba(255, 255, 255, 0.81);
    font-family: 'DM Sans', sans-serif;
}
#container{
    display: flex;
    height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-size:cover;
    flex-direction: column;
    justify-content: space-between;
}

#container_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 70px;
    width: 230px;  

}

#logo{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;

}

#university_text{
    font-family: 'Lora', serif;
    line-height: 0px;
    font-size: 20px;
    font-weight: bold;
}

#calendar_text{
    font-family: 'Lora', serif;
    line-height: 0px;
    font-size: 23.7px;
    font-weight: bold;
}




#container_info{
    margin:70px;
    width: 521px;
}

#tittle_text{
    font-size: 76.2px;
    margin-bottom: 5px;
    line-height: 70px;
}

#subtittle_text{
    margin-top: 0px;
    font-size: 22.9px;
    margin-bottom: 80px;
}

#container_enter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    border: 2px solid white;
    border-radius: 30px;
    padding: 15px 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    transition: color 0.5s, background 0.5s;
    text-align: center;
}



#btn_ingresar:hover{
    background-color: white;
    color: rgb(32, 32, 110);
    cursor: pointer;
}

#register_text:hover{
    text-decoration: underline;
    cursor: pointer;
}

#register_text a{
    text-decoration: none;
}

/*--------------------*/
#container2 p, #container2 p a{
    color: #8F8E8E;
}

#container2{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#container_photo2{
    /*background-image: url(/assets/img/ingresar_back.jpg);*/
    background-size: cover;
    width: 120vh;
}

#container_datos2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    width: 80vh;
    background-color: rgb(255, 255, 255);
}

.btn_blue{
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    border: 2px solid #004A87;
    border-radius: 30px;
    padding: 10px 60px;
    font-weight: 700;
    color: #004A87;
    text-decoration: none;
    transition: color 0.5s, background 0.5s;
    text-align: center;
}
#btn_ingresar2{
    margin-top: 30px;
}

#btn_ingresar2:hover{
    background-color: #004A87;
    color: #ffffff;
    cursor: pointer;
}

#tittle_ingresar{
    color: #004A87;
    font-size: 40px;
    margin-bottom: 0px;
}

#container_datos2 input{
    border-radius: 30px; 
    border: none; 
    background-color: #ECECEC; 
    text-align: center;
    padding: 10px 90px;
    color: #8F8E8E;
}

/*_________________________slider____________________________*/
.slider-wrapper {
	position: absolute;
	max-width: 120vh;
	margin: 0 auto;
}

.slider {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}


.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	scroll-snap-align: start;
	object-fit: cover;
    width: 120vh;
    height: 100vh;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}
